---
import MainLayout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
---
<MainLayout>
  <h2></h2>
  <section  >
    <Menu />
  </section>
  
</MainLayout>

<style>
h2 {
  
}
body{
  background-image: url('/images/fondo.png');
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-family: poppins;

}
.form-container {
  
      background-color: rgba(0, 0, 0, 0.6); /* Fondo negro con transparencia */
      border-radius: 10px; /* Bordes redondeados */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra gris */
      padding: 20px;
      width: 90%;
      max-width: 600px;
    }
</style>
