<header class="header">
    <h1>Síganos</h1>
    <nav>
      <ul>
        <li><a href="#calories">Calorías</a></li>
        <li><a href="#routine">Rutina</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </nav>
  </header>
  
  <style>
    h1{
      text-align: center;
      color: #fbfbfb;
      margin-top: 20px;
      font-size: 3em;
    }
  .header {
    padding: 20px;
    color: #f0f0f0;
    text-align: center;
    /*background-image: linear-gradient(to right, #081f8f, #5454f2);*/
  }
  
  .header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .header nav ul li {
    margin: 0 15px;
  }
  
  .header nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
  }
  
  .header nav ul li a:hover {
    color: #dcf900;
  }
  </style>
  